# üìä Financial Data Analysis Report

## üìÑ **Objective**
The objective of this analysis is to compute the Year-over-Year (YoY) growth for key financial metrics (Revenue, Net Income, Assets, Liabilities, and Operating Cash Flow) for various companies. This report aims to provide actionable insights on the financial performance of each company over time.

## üìö **Methodology**
1. **Data Sorting**: Arrange the financial data from the oldest to the most recent year for each company.
2. **YoY Growth Calculation**: Calculate the percentage change for key financial metrics for each company.
3. **Data Cleaning**: Handle NaN values that occur due to the absence of previous data for the first year in each company's records.
4. **Summary Statistics**: Compute the average YoY growth for each company across the key financial metrics.
5. **Export**: Export the processed data to a CSV file for reporting and further analysis.

## üìã **Key Metrics**
- **Revenue Growth (%)**
- **Net Income Growth (%)**
- **Assets Growth (%)**
- **Liabilities Growth (%)**
- **Operating Cash Flow Growth (%)**

## üìÇ **Step 1: Load the Data**

In this step, we load the financial data from a CSV file into a DataFrame using `pandas`.  
We ensure that the CSV file contains the following columns:
- **Company**: Name of the company
- **Year**: The financial year for which the data is reported
- **Total Revenue**: The total revenue for the company in that year
- **Net Income**: The net profit after expenses
- **Total Assets**: Total assets owned by the company
- **Total Liabilities**: Total financial obligations of the company
- **Cash Flow from Operating Activities**: The cash flow generated from normal business operations

In [40]:
# Import required libraries
import pandas as pd

In [41]:
# Load the financial data from CSV (ensure to replace 'path_to_your_csv_file.csv' with the correct path)
df = pd.read_csv('financial_data.csv')

## üìÖ **Step 2: Sort Data by Year**

To calculate growth rates properly, we must ensure that each company's data is arranged from **oldest to most recent**.  
This is done using the `sort_values()` method, ensuring that for each company, the years are in ascending order (e.g., 2021 ‚Üí 2022 ‚Üí 2023).

**üîß Code to Sort Data**

In [ ]:
# üîç Step 2: Sort data from oldest to most recent for each company
# ----------------------------------------------------------
# Why? We want the years in ascending order (2021, 2022, 2023, etc.) 
# for each company to ensure that the pct_change() method calculates growth correctly.
# ----------------------------------------------------------
df = df.sort_values(by=['Company', 'Year'], ascending=[True, True])

## üìà **Step 3: Calculate Year-over-Year (YoY) Growth**

To analyze the company's financial performance, we calculate the **percentage change** in key financial metrics using the `pct_change()` method.  
The following metrics are considered for YoY growth:  
- **Revenue Growth (%)**
- **Net Income Growth (%)**
- **Assets Growth (%)**
- **Liabilities Growth (%)**
- **Operating Cash Flow Growth (%)**

**üîß Code to Calculate Growth**

In [ ]:
# üîç Step 3: Calculate percentage change for each key financial metric
# ----------------------------------------------------------
# Calculate the year-over-year (YoY) percentage growth for each financial metric.
# We group by 'Company' so that each company's changes are calculated independently.
# ----------------------------------------------------------
df['Revenue Growth (%)'] = df.groupby('Company')['Total Revenue'].pct_change() * 100  # Revenue growth per company
df['Net Income Growth (%)'] = df.groupby('Company')['Net Income'].pct_change() * 100  # Net income growth per company
df['Assets Growth (%)'] = df.groupby('Company')['Total Assets'].pct_change() * 100  # Total assets growth per company
df['Liabilities Growth (%)'] = df.groupby('Company')['Total Liabilities'].pct_change() * 100  # Liabilities growth per company
df['Operating Cash Flow Growth (%)'] = df.groupby('Company')['Cash Flow from Operating Activities'].pct_change() * 100  # Cash flow growth per company

In [50]:
df.head()

,Year,Company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Operating Cash Flow Growth (%)
5,2021,Apple,365817000000,94680000000,351002000000,287912000000,108949000000,NaN,NaN,NaN,NaN,NaN
4,2022,Apple,394328000000,99803000000,352755000000,302083000000,119437000000,7.793788,5.410858,0.499427,4.921990,9.626523
3,2023,Apple,383285000000,96995000000,352583000000,290437000000,114301000000,-2.800461,-2.813543,-0.048759,-3.855232,-4.300175
2,2021,Microsoft,168088000000,61271000000,333779000000,191791000000,76740000000,NaN,NaN,NaN,NaN,NaN
1,2022,Microsoft,198270000000,72738000000,364840000000,198298000000,89035000000,17.956071,18.715216,9.305858,3.392756,16.021631


## üßπ **Step 4: Handle NaN Values**

Since the first year of each company's growth calculation will have NaN values, we have two options:  
1. **Keep NaN values** to maintain accuracy and reflect that there is no previous year for comparison.  
2. **Replace NaN with 0** if you prefer to fill missing growth rates with zero. This may be misleading in some contexts.  

**üîß Code to Handle NaN Values**

In [ ]:
# üîç Step 4: Handle NaN Values (Optional)
# ----------------------------------------------------------
# Replace NaN with 0
# ----------------------------------------------------------
df[['Revenue Growth (%)', 'Net Income Growth (%)', 'Assets Growth (%)', 'Liabilities Growth (%)', 'Operating Cash Flow Growth (%)']] = df[['Revenue Growth (%)', 'Net Income Growth (%)', 'Assets Growth (%)', 'Liabilities Growth (%)', 'Operating Cash Flow Growth (%)']].fillna(0)

In [52]:
df.head()

,Year,Company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Operating Cash Flow Growth (%)
5,2021,Apple,365817000000,94680000000,351002000000,287912000000,108949000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2022,Apple,394328000000,99803000000,352755000000,302083000000,119437000000,7.793788,5.410858,0.499427,4.921990,9.626523
3,2023,Apple,383285000000,96995000000,352583000000,290437000000,114301000000,-2.800461,-2.813543,-0.048759,-3.855232,-4.300175
2,2021,Microsoft,168088000000,61271000000,333779000000,191791000000,76740000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2022,Microsoft,198270000000,72738000000,364840000000,198298000000,89035000000,17.956071,18.715216,9.305858,3.392756,16.021631


## üìä **Step 5: Calculate Summary Statistics**

To summarize the performance of each company, we calculate the **average YoY growth** for the following metrics:  
- **Revenue Growth (%)**  
- **Net Income Growth (%)**  
- **Assets Growth (%)**  

**üîß Code to Calculate Company Summary**

In [57]:
# üîç Step 5: Calculate summary statistics for each company
# ----------------------------------------------------------
# Group by company to get the mean of each growth metric.
# This tells us the **average YoY growth** for each company.
# ----------------------------------------------------------
company_summary = df.groupby('Company')[['Revenue Growth (%)', 'Net Income Growth (%)', 'Assets Growth (%)']].mean()

In [58]:
company_summary

           Revenue Growth (%)  Net Income Growth (%)  Assets Growth (%)
Company
Apple                1.664442               0.865772           0.150223
Microsoft            8.279367               6.065639           7.408498
Tesla               23.382306              47.326534          20.670475

## üì§ **Step 6: Export Processed Data**

Finally, we export the processed financial data to a CSV file for further analysis and reporting.

**üîß Code to Export Data**

In [ ]:
# üîç Step 6: Export the updated DataFrame (Optional)
# ----------------------------------------------------------
# Save the updated DataFrame to a new CSV file for future reference.
# ----------------------------------------------------------
df.to_csv('financial_data_with_correct_growth.csv', index=False)

# üéâ **Conclusion**

1. We successfully calculated the **Year-over-Year (YoY) growth** for key financial metrics for multiple companies.
2. We observed that NaN values occurred for the first year in each company's data, which was handled appropriately.
3. We summarized the **average growth for each company**, allowing for easy comparison of company performance.

### üìä **Key Insights**
- Microsoft showed consistent growth across revenue, net income, and assets.
- Apple had steady growth, with notable growth in its net income. 
- This analysis enables companies to identify potential areas for operational improvement and investment.

üéâ **Next Steps**
- Visualize the YoY growth for each company using plots.
- Identify companies with volatile growth patterns and flag them for deeper analysis.